
 


<!-- <router-outlet></router-outlet> -->
<!-- directive -->
<!-- <app-directives></app-directives> -->

<!-- This one not working
<h1>App Component</h1>

<app-child1></app-child1>
<app-child2></app-child2> -->


    <!-- This code is for directive -->
    
<!--     
    <div>
    <label for="">Enter number</label>
    <br>
    <input type="text" appNumberOnly>
</div> -->


    <!-- this code is for filter pipe -->

        <!-- <app-student-list></app-student-list> -->

<!-- This is for parent child communication -->

<!-- <app-parent></app-parent> -->

<!-- This is for  data communication service  -->

<!-- <app-service-data></app-service-data> -->

<!-- this is for template driven -->
<!-- <app-template-driven-form></app-template-driven-form> -->

<!-- <app-reactive-form></app-reactive-form> -->

<!-- Custom directive simple -->
<!-- <div customDirective>
    This element has the custom directive applied to it.
  </div> -->

<!-- for form array -->
  <!-- <app-form-array-example></app-form-array-example> -->

  <!-- for reactForm registration -->

  <!-- <app-react-form>/</app-react-form> -->
  <!-- <app-react-form></app-react-form> -->

  <!-- Routing -->
<!-- 




This <nav> tag is for angular routing



  <nav class="navbar navbar-expand-lg bg-light navbar-light">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="">child1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">child2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigatetoStud()">Directive</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">Form Array</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="contact">Parent to Child</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="contact">Registration form</a>
          </li>

          <li class="nav-item">

            <a class="nav-link" routerLink="contact">Service</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="contact">Filter Pipe</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="contact">Template Form</a>
          </li>

        <li class="nav-item">
          //<a class="nav-link" routerLink="**">Error Page</a>
        </li>
      </ul>
    </div>
  </nav>
  
  
  <div class="container">
    <router-outlet></router-outlet>
  </div> -->

  <!-- For nested form array -->
  <app-nestedform-array> </app-nestedform-array>