
 


<!-- <router-outlet></router-outlet> -->
<!-- directive -->
<!-- <app-directives></app-directives> -->

<!-- This one not working
<h1>App Component</h1>

<app-child1></app-child1>
<app-child2></app-child2> -->


    <!-- This code is for directive -->
    
<!--     
    <div>
    <label for="">Enter number</label>
    <br>
    <input type="text" appNumberOnly>
</div> -->


    <!-- this code is for filter pipe -->

        <!-- <app-student-list></app-student-list> -->

<!-- This is for parent child communication -->

<!-- <app-parent></app-parent> -->

<!-- This is for  data communication service  -->

<!-- <app-service-data></app-service-data> -->

<!-- this is for template driven -->
<!-- <app-template-driven-form></app-template-driven-form> -->

<!-- <app-reactive-form></app-reactive-form> -->

<!-- Custom directive simple -->
<!-- <div customDirective>
    This element has the custom directive applied to it.
  </div> -->

<!-- for form array -->
  <!-- <app-form-array-example></app-form-array-example> -->

  <!-- for reactForm -->

  <app-react-form>/</app-react-form>
  <!-- <app-react-form></app-react-form> -->