<!-- Working -->

<!-- <div class="container">
  <accordion>
    <accordion-group heading="Panel 1">
      Content for Panel 1
    </accordion-group>
    <accordion-group heading="Panel 2">
      Content for Panel 2
    </accordion-group>
    <accordion-group heading="Panel 3">
      Content for Panel 3
    </accordion-group>
  </accordion>
</div>  -->

<div class="container">
  <accordion>
    <accordion-group *ngFor="let panel of panels" [heading]="panel.title">
      {{ panel.content }}
    </accordion-group>
  </accordion>
</div>


